.head1 {
    position: absolute;
    color: #1f5729;
    width: 100%;
    font-size: 200%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font: Arial;
}

.about-us {
    float: left;
    width: 33%;
}

.test {
    float: left;
    width: 33%;
}

.Other-drp {
    float: left;
    width: 34%;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    color: #1f5729;
    border: none;
    font-size: inherit;
}

.drpcontent {
    display: none;
    background-color: #f1f1f1;
    min-width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 33%;
    align-content: center;
    margin-left: 33%;
}

.drpcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drpcontent a:hover {background-color: #ddd;}

.Other-drp:hover .drpcontent {display: block;}


dropbtn:hover {cursor: pointer;}

.Other-drp:hover .Other-drp {background-color: #1f5729;}

.menu {
    position: relative;
}

.logo {
    position: relative;
    
}

.information {
    position: relative;
    font: Georgia;
    margin: 0% 15%;
}


